body {
  background-color: mediumslateblue;
}

.square {
  width: 4rem;
  height: 4rem;
  background-color: white;
  opacity: .6rem;
}

.square {
  animation-name: move, blink;
  animation-duration: 1s, 200ms;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-timing-function: steps(10);
}

.square:hover {
  animation-play-state: paused;
}

@keyframes move {
  /* de (0%)*/
  from {

  }

  /* para (100%) */
  to {
    transform: translateX(calc(100vw - 100% - 16px));
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }
}